html {
    height: 100%;
  }
  body  {
    background: url(https://cdn.pixabay.com/photo/2016/11/21/10/29/wanderlust-1844610_960_720.jpg);
     width: 800px;
     height: 100%;
     background-size:cover;
     background-attachment:fixed;
     background-repeat: no-repeat;
  }

    body h4 {  font-size:20px;
      color:white;
      text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
body p {
  font-size:20px;
  color:white;
  text-shadow:
-1px -1px 0 #000,
1px -1px 0 #000,
-1px 1px 0 #000,
1px 1px 0 #000;
}
body img {
float: left;
width: 300px;
height: 300px;
margin-right:20px;
border-radius: 10px;
}
  header {

      background-color:grey;
      padding: 5px;
      font-size: ;
      display: block;
      border-width: 3px;   /* defaults to medium */
  border-color: black;   /* defaults to color (literally, the color property) */
  border-style: solid; /* defaults to none */
  }
  nav {
      float: left;
  }
  nav ul {
      padding: ;
      float: left;
      border-bottom: ;
      list-style-type: none;
  }
  nav li {
      float: left;
  }
  nav li a {
      display: block;
      height: 25px;
      padding: 12px 18px 8px 18px;
      vertical-align: middle;
  }
  a {
      color: ;
  }
  section {
      width: 73%;
      display: inline-block;
      float: left;
  }
  aside {
      width: 17%;
      display: inline-block;
      background-color:;
      padding:;
      min-height: 100%;
  }
  aside ul {
      list-style-type: none;
  }
  footer {
      width: 790px;
      background-color:;
      color:;
      clear: both;
      display: block;
  }
